@model BookViewModel

@{
	ViewData["Title"] = Model.Title;
}

<div class="content flex-column-fluid" id="kt_content">
	<!--begin::Navbar-->
	<div class="card mb-9">
		<div class="card-body pt-9 pb-0">
			<!--begin::Details-->
			<div class="d-flex flex-wrap flex-sm-nowrap mb-6">
				<!--begin::Image-->
				<div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
					<a data-fslightbox href="@Model.ImageUrl">
						<img class="mw-50px mw-lg-75px" src="@Model.ImageThumbnailUrl" alt="@Model.Title" />
					</a>
				</div>
				<!--end::Image-->
				<!--begin::Wrapper-->
				<div class="flex-grow-1">
					<!--begin::Head-->
					<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
						<!--begin::Details-->
						<div class="d-flex flex-column">
							<!--begin::Status-->
							<div class="d-flex align-items-center mb-1">
								<a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">@Model.Title</a>
								<span class="badge badge-light-@(Model.IsDeleted ? "danger" : Model.IsAvailableForRental ? "success" : "warning") me-auto">
									@(Model.IsDeleted ? "Deleted" : Model.IsAvailableForRental ? "Available for rental" : "Not available for rental")
								</span>
							</div>
							<!--end::Status-->
							<!--begin::Description-->
							<div class="d-flex flex-wrap fw-semibold mb-1 fs-5 text-gray-500">
								by <span class="text-primary ms-2">@Model.Author</span>
							</div>
							<div class="d-flex flex-wrap mb-2 fs-7 text-gray-500">@Model.Publisher</div>
							<!--end::Description-->
						</div>
						<!--end::Details-->
						<!--begin::Actions-->
						<div class="d-flex mb-4">
							<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary me-3">Edit</a>
						</div>
						<!--end::Actions-->
					</div>
					<!--end::Head-->
					<!--begin::Info-->
					<div class="d-flex flex-wrap justify-content-start">
						<!--begin::Stats-->
						<div class="d-flex flex-wrap">
							<!--begin::Stat-->
							<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
								<!--begin::Number-->
								<div class="d-flex align-items-center">
									<i class="ki-solid ki-calendar-2 fs-3 text-primary me-2"></i>
									<div class="fs-7 fw-bold">@Model.PublishingDate.ToString("dd MMM, yyyy")</div>
								</div>
								<!--end::Number-->
								<!--begin::Label-->
								<div class="fw-semibold fs-6 text-gray-500">Publishing Date</div>
								<!--end::Label-->
							</div>
							<!--end::Stat-->
							<!--begin::Stat-->
							<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
								<!--begin::Number-->
								<div class="d-flex align-items-center">
									<i class="ki-solid ki-calendar-2 fs-3 text-primary me-2"></i>
									<div class="fs-7 fw-bold">@Model.CreatedOn.ToString("dd MMM, yyyy")</div>
								</div>
								<!--end::Number-->
								<!--begin::Label-->
								<div class="fw-semibold fs-6 text-gray-500">Added Date</div>
								<!--end::Label-->
							</div>
							<!--end::Stat-->
							<!--begin::Stat-->
							<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
								<!--begin::Number-->
								<div class="d-flex align-items-center">
									<i class="ki-solid ki-copy fs-3 text-primary me-2"></i>
									<div class="fs-7 fw-bold" data-kt-countup="true" data-kt-countup-value="7">0</div>
								</div>
								<!--end::Number-->
								<!--begin::Label-->
								<div class="fw-semibold fs-6 text-gray-500">Copies</div>
								<!--end::Label-->
							</div>
							<!--end::Stat-->
						</div>
						<!--end::Stats-->
						<!--begin::Categories-->
						<div class="align-self-end mb-3">
							@foreach (var category in Model.Categories)
							{
								<span class="badge badge-light-info me-auto">@category</span>
							}
						</div>
						<!--end::Categories-->
					</div>
					<!--end::Info-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Details-->
			<div class="separator"></div>
			<!--begin::Nav-->
			<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
				<!--begin::Nav item-->
				<li class="nav-item">
					<a class="nav-link text-active-primary py-5 me-6 active" data-bs-toggle="tab" href="#Description">Description</a>
				</li>
				<!--end::Nav item-->
				<!--begin::Nav item-->
				<li class="nav-item">
					<a class="nav-link text-active-primary py-5 me-6" data-bs-toggle="tab" href="#Copies">Copies</a>
				</li>
				<!--end::Nav item-->
			</ul>
			<!--end::Nav-->
		</div>
	</div>
	<!--end::Navbar-->
	<div class="tab-content">
		<!--begin::Card-->
		<div class="card tab-pane fade show active" id="Description">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title fs-3 fw-bold">Description</div>
				<!--end::Card title-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body">
				@Html.Raw(Model.Description)
			</div>
			<!--end:Card body-->
		</div>
		<!--end::Card-->
		<!--begin::Card-->
		<div class="card tab-pane fade" id="Copies">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title fs-3 fw-bold">Copies</div>
				<!--end::Card title-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body">
			</div>
			<!--end:Card body-->
		</div>
		<!--end::Card-->
	</div>
</div>

@section Plugins {
    <script src="~/assets/plugins/fslightbox/fslightbox.bundle.js"></script>
}
