@model SubscriberViewModel
@{
    ViewData["Title"] = "Subscriber Details";
}

<!--begin::Alert-->
<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold">
                <i class="ki-solid ki-profile-user text-primary fs-2"></i>
            </div>
        </div>
        <h5>Subscriber Details</h5>
    </div>
    <div>
        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Key">
            Edit
        </a>
    </div>
</div>
<!--end::Alert-->
<!--begin::Layout-->
<div class="d-flex flex-column flex-xl-row">
    <!--begin::Sidebar-->
    <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
        <!--begin::Card-->
        <div class="card mb-5 mb-xl-8">
            <!--begin::Card body-->
            <div class="card-body pt-15">
                <!--begin::Summary-->
                <div class="d-flex flex-center flex-column mb-5">
                    <!--begin::Avatar-->
                    <a data-fslightbox href="@Model.ImageUrl">
                        <div class="symbol symbol-150px symbol-circle mb-7">
                            <img src="@Model.ImageThumbnailUrl" alt="image" />
                        </div>
                    </a>
                    <!--end::Avatar-->
                    <!--begin::Name-->
                    <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">@Model.FullName</a>
                    <!--end::Name-->
                    <!--begin::Email-->
                    <a href="#" class="fs-5 fw-semibold text-muted text-hover-primary mb-6">@Model.Email</a>
                    <!--end::Email-->
                </div>
                <!--end::Summary-->
                <!--begin::Details toggle-->
                <div class="d-flex flex-stack fs-4 py-3">
                    <div class="fw-bold">Details</div>
                    <!--begin::Badge-->
                    <div class="badge badge-light-success d-inline">Active Subscriber</div>
                    <!--begin::Badge-->
                </div>
                <!--end::Details toggle-->
                <div class="separator separator-dashed my-3"></div>
                <!--begin::Details content-->
                <div class="pb-5 fs-6">
                    <!--begin::Details item-->
                    <div class="fw-bold mt-5">Account ID</div>
                    <div class="text-gray-600">ID-@Model.Id</div>
                    <!--begin::Details item-->
                    <!--begin::Details item-->
                    <div class="fw-bold mt-5">Mobile No.</div>
                    <div class="text-gray-600">@Model.MobileNumber</div>
                    <!--begin::Details item-->
                    <!--begin::Details item-->
                    <div class="fw-bold mt-5">National Id</div>
                    <div class="text-gray-600">@Model.NationalId</div>
                    <!--begin::Details item-->
                    <!--begin::Details item-->
                    <div class="fw-bold mt-5">Date Of Birth</div>
                    <div class="text-gray-600">@Model.DateOfBirth</div>
                    <!--begin::Details item-->
                    <!--begin::Details item-->
                    <div class="fw-bold mt-5">Address</div>
                    <div class="text-gray-600">
                        @Model.Address,
                        <br />@Model.Area
                        <br />@Model.Governorate
                    </div>
                    <!--begin::Details item-->
                </div>
                <!--end::Details content-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Sidebar-->
    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-15">
        <!--begin:::Tabs-->
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
            <!--begin:::Tab item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#overview">Overview</a>
            </li>
            <!--end:::Tab item-->
            <!--begin:::Tab item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#rentals">Rentals</a>
            </li>
            <!--end:::Tab item-->
        </ul>
        <!--end:::Tabs-->
        <!--begin:::Tab content-->
        <div class="tab-content" id="myTabContent">
            <!--begin:::Tab pane-->
            <div class="tab-pane fade show active" id="overview" role="tabpanel">
                <div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
                    <div class="col">
                        <!--begin::Card-->
                        <div class="card pt-4 h-md-100 mb-6 mb-md-0">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2 class="fw-bold">Reward Points</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="fw-bold fs-2">
                                    <div class="d-flex">
                                        <i class="ki-duotone ki-heart text-info fs-2x">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        <div class="ms-2">
                                            4,571
                                            <span class="text-muted fs-4 fw-semibold">Points earned</span>
                                        </div>
                                    </div>
                                    <div class="fs-7 fw-normal text-muted">Earn reward points with every purchase.</div>
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <div class="col">
                        <!--begin::Reward Tier-->
                        <a href="#" class="card bg-success hoverable h-md-100">
                            <!--begin::Body-->
                            <div class="card-body">
                                <i class="ki-duotone ki-star text-white fs-3x ms-n1"></i>
                                <div class="text-white fw-bold fs-2 mt-5">Active Subscriber</div>
                                <div class="fw-semibold text-white">Subscriber Since: @Model.CreatedOn.ToString("dd MMM, yyyy")</div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Reward Tier-->
                    </div>
                </div>
                <!--begin::Card-->
                <div class="card pt-4 mb-6 mb-xl-9">
                    <!--begin::Header-->
                    <div class="card-header border-0">
                        <div class="card-title">
                            <h2 class="card-label fw-bold fs-3 mb-1">Renewal History</h2>
                        </div>
                        @if (!Model.IsBlackListed)
                        {
                            <div class="card-toolbar">
                                <a href="JavaScript:;" class="btn btn-sm btn-primary d-flex align-items-center js-renew" data-key="@Model.Key">
                                    <i class="ki-solid ki-arrows-circle fs-4"></i>
                                    Renew
                                </a>
                            </div>
                        }
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0 pb-5">
                        <!--begin::Table container-->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead>
                                    <tr class="fw-bold text-muted bg-light">
                                        <th class="min-w-125px rounded-start ps-4">Start Date</th>
                                        <th class="min-w-125px">End Date</th>
                                        <th class="min-w-125px">Status</th>
                                        <th class="min-w-125px rounded-end">Added On</th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>
                                    @foreach (var subscription in Model.Subscriptions)
                                    {
                                        <partial name="_SubscriptionRow" model="@subscription" />
                                    }
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end:::Tab pane-->
            <!--begin:::Tab pane-->
            <div class="tab-pane fade" id="rentals" role="tabpanel">
                <!--begin::Card-->
                <div class="card pt-4 mb-6 mb-xl-9">
                    <!--begin::Card header-->
                    <div class="card-header border-0">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Rentals</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0 pb-5">
                        <p>Rentals will be shown here</p>
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end:::Tab pane-->
        </div>
        <!--end:::Tab content-->
    </div>
    <!--end::Content-->
</div>
<!--end::Layout-->

@section Scripts {
    <script src="~/js/RenewSubscription.js" asp-append-version="true"></script>
}

@section Plugins {
    <script src="~/assets/plugins/fslightbox/fslightbox.bundle.js"></script>
}